
@import url('font-awesome.css');	

body { 	background-image:url('/static/images/textured_stripes.png'); background-repeat:repeat;
	    color: #3F3E3E; }

h1, h2, h3, h4 { font-family: 'Happy Monkey', cursive;}

a { color: #3F3E3E; text-decoration: none;}
a:hover { text-decoration: underline;}

#header { width:100%;
	    padding:15px 0;
        margin-bottom: 10px;
	    text-align: center;
	    background-color: rgba(21,20,20,0.3); }

#header h1 a { color: #f3f3f3; font-size: 72px; font-family: 'Finger Paint', cursive;}
#header h1 a:hover { text-decoration: none;}
#header h1 img { margin-left: 30px;} 

.topmenu { background-color: rgba(21,20,20,0.3); padding: 5px 0px; text-align: left;}
.topmenu a { color: #fff; text-transform: uppercase; font-weight: bold; margin: 0 10px; font-family: 'Happy Monkey', cursive;}
.topmenu a.right { float: right; }

.fpteddy { margin-top: 40px; }	
.fpteddy h3 { color: #fff; background-color: rgba(21,20,20,0.5); padding: 5px 10px; text-align: left; }	
.fpteddy h3 a { color: #fff; }

.fppost {  padding: 10px; background-color: #fff;-webkit-box-shadow: 5px 5px 5px 0px rgba(12, 12, 12, 0.5);
            box-shadow: 5px 5px 5px 0px rgba(12, 12, 12, 0.5); margin-bottom: 20px; }
.fppost h4 { text-align: left; padding: 10px 0;margin: 0; position: relative;}
.fppost h4 span.comment-count { font-size: 12px; background: url('/static/images/comment.png') top left; background-repeat: no-repeat;
            height: 27px; width: 29px; position: absolute; right: 1px; top: 10px; line-height: 21px; text-align: center; color: #999; }
.fppost a:hover { text-decoration: none; }
.fppost img { text-align: left;width: 100%;
    /*width: 280px; */
}
.content { padding-bottom: 50px; }
.login { margin-top: 20px;padding: 10px; }

#map-canvas { height: 400px;  }

@media (max-width: 480px) {


}

#newPost { padding: 10px; background-color: #fff;-webkit-box-shadow: 5px 5px 5px 0px rgba(12, 12, 12, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(12, 12, 12, 0.5); }

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/********************* FANCYBOX ******************/

@media (min-width: 980px) {
    .fppost .fancy { display: none; }
    .fancy .fancy-content {  width: 960px;position: relative;background-color: white;padding: 15px 0px 15px 0px; }
    .fancy .fancy-content img {  max-width: 100%; }
    .fancy .fancy-content .comments {  height: 405px; overflow:auto;margin-bottom: 10px; width: 220px;}
    .fancy .fancy-content .comment {  margin-bottom: 5px; }
    .fancy .fancy-content .comment .text {    }
    .fancy .fancy-content .comment .datetime {  color:#888;font-size: 12px;padding-bottom: 10px; display: block;border-bottom:1px solid #eee;}
    .fancy .fancy-content .comment a {  font-size: 12px; font-weight: bold;}
    .fancy .fancy-content #comment-form {  font-size: 12px; font-weight: normal; position: absolute; bottom: 0px;}
    .fancy .fancy-content #comment-form a {  font-size: 12px; font-weight: bold;}
    .fancy .fancy-content #comment-form input {  width: 175px;}
}

@media (min-width: 768px) and (max-width: 979px) {
    .fppost .fancy { display: none; }
    .fancy .fancy-content {  width: 768px;position: relative; }
    .fancy .fancy-content img {  max-width: 100%; }
    .fancy .fancy-content .comments {  height: 405px; overflow:auto;margin-bottom: 10px; width: 190px;}
    .fancy .fancy-content .comment {  margin-bottom: 5px; }
    .fancy .fancy-content .comment .text {    }
    .fancy .fancy-content .comment .datetime {  color:#888;font-size: 12px;padding-bottom: 10px; display: block;border-bottom:1px solid #eee;}
    .fancy .fancy-content .comment a {  font-size: 12px; font-weight: bold;}
    .fancy .fancy-content #comment-form {  font-size: 12px; font-weight: normal; position: absolute; bottom: 0px;}
    .fancy .fancy-content #comment-form a {  font-size: 12px; font-weight: bold;}
    .fancy .fancy-content #comment-form input {  width: 175px;}
}

@media (max-width: 480px) {
    .fppost .fancy { display: none; }
    .fancy .fancy-content {  width:100%;height:100%; position: relative; }
    .fancy .fancy-content img {  max-width: 100%; }
    .fancy .fancy-content .comments {  max-height: 405px; overflow:auto;margin-bottom: 10px; width:100%;}
    .fancy .fancy-content .comment {  margin-bottom: 5px; }
    .fancy .fancy-content .comment .text {    }
    .fancy .fancy-content .comment .datetime {  color:#888;font-size: 12px;padding-bottom: 10px; display: block;border-bottom:1px solid #eee;}
    .fancy .fancy-content .comment a {  font-size: 12px; font-weight: bold;}
    .fancy .fancy-content #comment-form {  font-size: 12px; font-weight: normal; position: absolute; bottom: 0px;}
    .fancy .fancy-content #comment-form a {  font-size: 12px; font-weight: bold;}
    .fancy .fancy-content #comment-form input {  width: 175px;}
    .fancybox-overlay .fancybox-wrap {width: 100%!important;height:100%!important; top:0!important; left:0!important;}
    .fancybox-overlay .fancybox-skin {height:auto!important; }
    .fancybox-close {right:0!important; top:0!important;}
    .fancybox-skin { -webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important; }
    .fancybox-inner { width: 100%!important;height:100%!important;}
/********************* /FANCYBOX ******************/


