<!DOCTYPE html>
<html ng-app="touristteddyApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/touristteddy.css" />
	<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>

	<!-- Add fancyBox -->
	<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />

</head>
<body>
	<div id="header">
		<h1><a href="/">Tourist Teddy</a><!-- <img src="{{ STATIC_URL }}images/logo.png" />--></h1>
	</div>

	<div class="container" ng-controller="PostsCtrl">
		<div class="row topmenu">
			<a href="/Teddys">Teddys</a>
			<a href="/About">About</a>
			{# <a class="right" href="{% url "touristteddy.views.login_user" %}?next={{request.path}}">Logins</a> #}


            {% if request.user.is_authenticated %}
			    <a class="right" href="#" ng-click="editing=!editing">New post</a>
            {% endif %}
			<div class="clear"></div>
		</div>

		<div id="newPost" class="row" ng-show="editing" ng-cloak>
	        <div class="span4">
	            <h2>add new post</h2>
				<form class="form-1" action="/create_post/" method="post" enctype="multipart/form-data">{% csrf_token %}
					<p class="field">
						<input type="text" name="title" placeholder="Title" value="{{ title }}"/>
					</p>
					<p class="field">
						<textarea name="description" placeholder="Description">{{ description }}</textarea>
					</p>
					<p class="field">
						<input type="file" name="picture" placeholder="Picture" value="{{ picture }}"/>
					</p>
					<p class="field">
						<input type="text" name="lat" placeholder="Latitude" value="{{ lat }}"/>
					</p>
					<p class="field">
						<input type="text" name="lng" placeholder="Longitude" value="{{ lng }}"/>
					</p>
					<p class="field">
						<input type="text" name="teddy_id" placeholder="Teddy" value="{{ teddy }}"/>
					</p>
					<p class="submit">
						<button type="submit" name="submit">Add post</button>
					</p>
				</form>
	        </div>
	        <div class="span7">
        		<div id="map-canvas"></div>
        	</div>
	    </div>
		{% block content %}
			<p>Welcome to touristteddy.com</p>
		{% endblock content %}
	</div>
    


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}css/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/touristteddy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lightbox_me.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/lib/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/app/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/app/controllers.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMzLpiW6MFNTXjnHC1WRyQM9iUvW4favw&sensor=false"></script>
    <script type="text/javascript">
		function initialize() {
	        var mapOptions = {
	          center: new google.maps.LatLng(-34.397, 150.644),
	          zoom: 8,
	          mapTypeId: google.maps.MapTypeId.ROADMAP
	        };
	        var map = new google.maps.Map(document.getElementById("map-canvas"),
	            mapOptions);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
		//TODO: need to resize on show hide new post
    </script>
</body>
</html>
