{% extends "base_generic.html" %}

{% block content %}
    <div class="grid_12">
	add new post
	<form class="form-1" action="/create_post/" method="post">{% csrf_token %}
		<p class="field">
			<input type="text" name="title" placeholder="Title" value="{{ title }}"/>
		</p>
		<p class="field">
			<textarea name="description" placeholder="Description" value="{{ description }}"/>
		</p>
		<p class="field">
			<input type="text" name="picture" placeholder="Picture" value="{{ picture }}"/>
		</p>
		<p class="field">
			<input type="text" name="lat" placeholder="Latitude" value="{{ lat }}"/>
		</p>
		<p class="field">
			<input type="text" name="long" placeholder="Longitude" value="{{ long }}"/>
		</p>
		<p class="field">
			<input type="text" name="teddy" placeholder="Teddy" value="{{ teddy }}"/>
		</p>
		<p class="submit">
			<button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
		</p>
	</form>
    </div>
{% endblock content %}

